/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #151515;
  font: 13.34px georgia, helvetica, arial, sans-serif;
  font-size: small;
  text-align: center;

}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #63c0f5; text-decoration: none;}
a:hover   { color: #63c0f5; }
a:visited { color: #63c0f5; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
  color: white;
}

.posts p {
  font-color: white;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  font-family: monospace,Monaco, "Courier New", monospace;
  font-size: 80%;
}

.post_title a {
    color: #b5e853;
}

.comments {
    background: white;
}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .post_title {
  color: #b5e853;
  font-size:20px;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;  
}

.description{
  color:#339900;
  font-size:15px;
  margin-top: 0px;
  padding-left: 10px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.title a {
  color: #00ff00;
  font-size:40px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.title a:hover {
  /*color: #000;*/
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: red;
	font-size: 13px;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post p {
  color: #B9BDB6;
}
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: black;
  padding: 0 .4em;
  color: #b5e853;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  background-color: black;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
